<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(20, 238, 227); /* For browsers that do not support gradients */
background-image: linear-gradient(to right, rgb(63, 159, 189) , rgb(42, 53, 63));">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">We care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" justify-content-end" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a style="color: white;" class="nav-link" >Call us 98753123456</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
<div style=" height: 740px;
background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
background-image: linear-gradient(to right, rgb(156, 149, 149) , rgb(42, 42, 63));">
<div  class="container">
   

      <div style="margin-left: 100px; " class="row">
        <div class="col" style="margin-top: 80px; ">
            <div  class="card" style="width: 25rem; background-color: rgb(132, 218, 218);">
                <img src="assets/tupac.jpg" style="height: 250px;" class="card-img-top" alt="">
                <button class="btn btn-info" routerLink="/coach-login">Login as a coach </button>   <br>
                <button class="btn btn-info" routerLink="/coach-registration">Join as a coach </button>
                
            </div>
        </div>

        <div class="col" style="margin-top: 80px; ">
            <div class="card" style="width: 25rem; background-color: rgb(132, 218, 218);">
                <img src="assets/j cole.jpg" style="height: 250px;" class="card-img-top" alt="">
                <button class="btn btn-info" routerLink="/user-login">Login as a user </button>   <br>
                <button class="btn btn-info" routerLink="/user-registration">Join as a user </button>
                
            </div>
        </div>

    </div>
</div>
</div>
<footer style=" height: 33px;
background-color: rgb(20, 238, 227); /* For browsers that do not support gradients */
background-image: linear-gradient(to right, rgb(63, 159, 189) , rgb(42, 53, 63));" class="Footer">
  <p style="color: white; text-align: center;">Copyright &copy 2020&nbsp;&nbsp;exam@mail.com</p>
</footer>




